/*
Theme Name: Oshin
Theme URI: http://brandexponents.com/oshin/
Author: Brand Exponents
Author URI: http://www.brandexponents.com/
Description:  Multi Layout Multi-Purpose Responsive Wordpress theme
Version: 1.3
License: GPL 2.0
License URI: license.txt
Tags: black, green, white, light, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready
*/
/*
TABLE OF CONTENTS
1.	Global
2.	Header
	2.1	Header Top Bar
	2.2	Header Bottom Bar 
	2.3 Logo
	2.4 Header Controls
	2.5 Navigation
	2.6 Header Widgets
	2.7 Sticky Header
	2.8 Header Search Control
	2.9 Header Cart Control
3.	Transparent Header
4.	Menu
5.	Left Header
6.	Mobile Menu
7.	Mega Menu
8.	Sidebar Menu
9.	Page Title
10.	Footer
11.	Blog Layout
	11.1 Blog Style2
	11.2 Blog Style3
	11.3 Blog Style4
12.	Audio Post Format
13.	Comments
14.	Typography
15.	Anchor
16.	Lists
17.	Tags and classes that come with Wordpress 
18.	Form
19.	Contact Page
20.	Widget Areas
21.	Recent Posts
22.	Tags
23.	Search
24.	WP Calendar
25.	Categories, Archives, Links, Meta, Menu, Side nav
26.	Photostream Widget
27.	Language Switcher
28.	Back To Top
29.	Media Queries
	29.1 Tablet
	29.2 Mobile 320
	29.3 Mobile 480
30. Helper classes
31.	Print styles
*/
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   CSS Reset
   ========================================================================== */
   
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td { vertical-align: top; }
img{max-width:100%;}

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;}

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { }
input[type="text"],input[type="submit"], textarea { -webkit-appearance: none; -webkit-border-radius:0px; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

::selection         {background: rgb(0,0,0); color: #fff; }
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
/*.wf-loading p, .wf-loading ul, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6 { visibility: hidden; } .wf-active p, .wf-active ul, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-inactive p, .wf-inactive ul, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4, .wf-inactive h5, .wf-inactive h6 { visibility: visible; } */

/* ==|== primary styles =====================================================
   Author:


/* =========================================================================
                                     LAYOUTS
   ========================================================================= */

/* ======================
    Global
   ====================== */
html {
	padding-right: 0px !important;
	overflow-y: auto;
	overflow-x: hidden;
}

html.hide-overflow{
	overflow: hidden !important;
}

/* ======================
    Header
   ====================== */
.tp-simpleresponsive >ul li {
    z-index: 1 !important;
}
/************************************************
 Header Top Bar 
 ************************************************/

#main.layout-border{
	padding: 30px;
}
#main.layout-border.layout-border-header-top {
	padding: 0px 30px 30px 30px;
}
.left-header #main.layout-border{
	padding-left: 0px;
}
#header-top-bar-left   {
	float: left;
	padding: 10px 20px;
}
#header-top-bar-wrap.be-wrap #header-top-bar-left{
	padding-left: 0px;
}
#header-top-bar-right   {
	float: right;
	padding: 10px 20px;
}
#header-top-bar-wrap.be-wrap #header-top-bar-right {
	padding-right: 0px;
}
#header-top-bar-left .top-bar-widgets, 
#header-top-bar-left .header-search-controls,
#header-top-bar-left .header-cart-controls,
#header-top-bar-left .topbar-menu-container{
	margin-right: 15px;
}
#header-top-bar-right .top-bar-widgets, 
#header-top-bar-right .header-search-controls,
#header-top-bar-right .header-cart-controls,
#header-top-bar-right .topbar-menu-container {
	margin-left: 15px;
}

#header-controls-left .header-widgets, 
#header-controls-left .header-search-controls,
#header-controls-left .header-cart-controls,
#header-controls-left .menu-controls {
	margin-right: 15px;
}
#header-controls-right .header-widgets, 
#header-controls-right .header-search-controls,
#header-controls-right .header-cart-controls,
#header-controls-right .menu-controls {
	margin-left: 15px;
}

#header-top-bar-left ul ,
#header-top-bar-right ul ,
#header-controls-left ul {
	display: inline;
	padding-left: 0px;
}
#header-top-bar-left li ,
#header-top-bar-right li ,
#header-controls-left li {
	display: inline;
	text-decoration: none;
}
.menu-falling-animate-controller {
	display: inline-block;
	float: right;
}
.custom-font-icon {
	display: inline-block;
	line-height: normal;
	position: relative;
	cursor: pointer;
}
.menu-icon {
	border-top-width: 2px;
	border-style: solid;
	border-color: inherit;
	display: block;
	margin-bottom: 6px;
	width: 16px;
	-webkit-transition: -webkit-transform 400ms ease, opacity 400ms ease, top 400ms ease;
	-moz-transition: -moz-transform 400ms ease, opacity 400ms ease, top 400ms ease;
	-o-transition: -o-transform 400ms ease, opacity 400ms ease, top 400ms ease;
	transition: transform 400ms ease, opacity 400ms ease, top 400ms ease;
	cursor: pointer;
	position: absolute;
	top: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}
.menu-icon.menu-icon-third {
	margin-bottom: 0px;
}
.custom-font-icon .menu-icon.menu-icon-first {
	top: -4px;
}
.custom-font-icon .menu-icon.menu-icon-second {
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.custom-font-icon .menu-icon.menu-icon-third {
	top: 4px;
}
.custom-font-icon.active .menu-icon.menu-icon-first {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	top: 0;
}
.custom-font-icon.active .menu-icon.menu-icon-second {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	-ms-transform: translateX(50px);
	-o-transform: translateX(50px);
}
.custom-font-icon.active .menu-icon.menu-icon-third {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	top: 0;
}
#header-top-bar-wrap i.font-icon {
	margin-bottom: 0px;
}
#header-top-bar,
#header-bottom-bar {
	line-height: 25px;
/*	border-right: none !important;
	border-left: none !important;*/
}
#header-top-bar{
	position: relative;
	z-index: 3;
}
#header-top-bar .topbar-menu-container{
	display: inline-block;
}
#topbar-menu > li:after{
	content: " | ";
} 
#topbar-menu > li:last-child:after{
	content: "";
} 
/*#left-header-mobile {
	border-bottom: 1px solid;
}*/

#header #left-header-mobile .header-cart-controls{
	margin-right: 30px;
}
.top-overlay-menu #header-bottom-bar{
	display: none;
}
#header .header-border{
	display: block;
}
#header .transparent .header-border{
	display: none;
}
.style6 #header-wrap {
	text-align: center;
}
/************************************************
 Header Bottom Bar 
 ************************************************/

.style4 #header-bottom-bar{
	padding: 0 30px;
}


/************************************************
Logo
 ************************************************/
 
.logo a, .logo a img {
	display: block;
}

	/*Logo - Float Left*/

.style1 .logo {
    margin-left: 30px;
    padding:20px 0;	/*opt-logo-padding*/
    float: left;
}
.layout-border-header-top .style1 .logo {
	margin-left: 0px;
}
.style1 .be-wrap .logo {
    margin-left: 0;
    position: absolute;
    padding: 16px 0;
}
.style4 .logo {
    margin-left: 30px;
    padding:20px 0;	/*opt-logo-padding*/
    float: left;
}

#left-header-mobile .logo {
	margin-left: 30px;
    padding:20px 0;	/*opt-logo-padding*/
	float: left;
}

	/*Logo - Float Right*/

.style5 .logo {
    margin: 20px 0 20px 20px; /*opt-logo-padding*/
    float: right;
}

	/*Logo - Absolute Position to Left*/

.style2 #header-wrap{
	position: relative;
}
.style4 #header-wrap{
	position: relative;
}
/*.style1 #header-wrap{
	padding-right: 30px;
}*/
.style4 #header-wrap{
	padding-right: 30px;
}
.style3 .logo {
	position: absolute;
	left: 30px;
	padding: 20px 0; /*opt-logo-padding*/
}
.layout-border-header-top .style3 .logo {
	left: 0px;
}
	/*Logo - Center Align*/

.style2 .logo {
	text-align: center;
}
.style2 .logo a{
	display: inline-block;
	vertical-align: middle;
}
.style6 .logo {
    margin: 25px auto;
	display: inline-block;
	vertical-align: top;
	z-index: 1;
	position: relative;
}

/************************************************
 Header Controls
 ************************************************/
 
	/*Header Controls - Float Right*/

.style1 #header-controls-right{
	float: right;
	margin-right: 30px;
	/*margin-left: 30px;*/
}
.layout-border-header-top .style1 #header-controls-right {
	margin-right: 0px;
}
.style1 .be-wrap #header-controls-right {
    margin-right: 0;
    margin-left: 15px;
}
.style4 #header-controls-right{
	float: right;
	margin-right: 30px;
}

	/*Header Controls - Absolute Position*/

.style2 #header-controls-right{
	position: absolute;
	right: 30px;
	top: 0;
}

.style2 #header-controls-left{
	position: absolute;
	left: 30px;
	top: 0;
}
.style3 #header-controls-right{
	position: absolute;
	right: 30px;
	top: 0;
}
.layout-border-header-top .style3 #header-controls-right {
	right: 0px;
}
#header-inner-wrap i.font-icon{
	margin-bottom: 0px;
}
/*Left Menu header control - only on mobile layout*/
	#left-header-mobile .mobile-nav-controller-wrap{
		padding:0 15px;
	}
.style6 #header-controls-right {
	margin-right: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
}
/************************************************
 Navigation
 ************************************************/
 
	/*Navigation - Float Right*/

.style1 #navigation {
    float: right;
    margin-right: 30px;
}
.style1 .be-wrap #navigation {
    margin-right: 0px;
}
	/*Navigation - Float Left*/

.style4 #navigation{
	float: left;
}
.style5 #navigation{
	float: left;
}

	/*Navigation - Center Align*/

.style3 .menu{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.style2 .menu{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.style3 #navigation{
	text-align: center;
}
.style2 #navigation{
	text-align: center;
}

.style2 #navigation {
	line-height: 50px;
}
.style4 #navigation {
	line-height: 50px;
}
.style6 #navigation-left-side,
.style6 #navigation-right-side {
	position: absolute;
	top: 0px;
	width: 50%;
	left: 0px;
	padding-right: 100px;
	box-sizing: border-box;
}
.style6 #navigation-right-side {
	left: auto;
	right: 0px;
	padding-right: 0px;
	padding-left: 80px;
}
.style6 #navigation-left-side #left-menu {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	float: right;
}
.mobile-menu.left-mobile-menu #mobile-menu {
	padding-bottom: 0px !important;
}
.mobile-menu.right-mobile-menu #mobile-menu {
	padding-top: 0px !important;
}
/************************************************
 Header Widgets
 ************************************************/
 
	/*Header widgets styling*/
.header-code-widgets {
	display: inline-block;
	margin-left: 15px;
}
/*.header-smedia-widgets li{
	display: inline;
	list-style: none;
	padding-right: 7px;
}*/
.sliderbar-menu-controller{
	display: inline-block;
}

/************************************************
 Header Search Control
 ************************************************/ 

.search-box-wrapper {
	position: absolute;
	top: 100%;
	right: 0px;
	width: 240px;
	display: none;
	z-index: 12;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.23);
	line-height: normal;
	padding: 30px;
	background: #fff;
	overflow-y: hidden;
}
.be-themes-layout-layout-border-header-top .search-box-wrapper {
	z-index: 10 !important;
}
#header-top-bar-right .search-box-wrapper{
	padding: 0px;
}
.header-search-controls {
	display: inline-block;
}
.header-search-controls .search-button {
	margin-left: 0px;
	cursor: pointer;
	color: inherit;
	display: inline-block;
	zoom: 1;
	position: relative;
	top: 2px;
	font-size: 18px;
	line-height: normal;
}
#header-top-bar-right .search-box-wrapper.style1-header-search-widget input[type="text"]{
	height: 55px;
}
.search-box-wrapper .searchform .search-icon {
	position: absolute;
	top: 0px;
	right: 35px;
	line-height: 96px;
	font-size: 14px;
}
#header-top-bar-right .search-box-wrapper .searchform .search-icon{
	top: -19px;
	right: 14px;
}
.search-box-wrapper.style2-header-search-widget .searchform .search-icon{
	display: none;
}
.search-box-wrapper .searchform .s {
	width: 100%;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 0;
}
.search-box-wrapper .icon-icon_close{
	color: #232323;
}
.search-box-wrapper.style2-header-search-widget {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
body.admin-bar .search-box-wrapper.style2-header-search-widget {
	padding-top: 62px;
}
body.admin-bar .search-box-wrapper.style2-header-search-widget .searchform .search-icon {
	top: 50%;
	line-height: normal;
	margin-top: -14px;
	font-size: 25px;
	right:14px;
}
.search-box-wrapper.style2-header-search-widget .search-box-inner1 {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}
.search-box-wrapper.style2-header-search-widget .search-box-inner2 {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0px;
}
.search-box-wrapper.style2-header-search-widget .searchform .s {
	height: 100px;
	font-size: 40px;
}
.search-box-wrapper.style2-header-search-widget .searchform {
	display: block;
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.header-search-form-close {
	display: none;
}
.search-box-wrapper.style2-header-search-widget .header-search-form-close {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 35px;
	cursor: pointer;
	color: inherit;
	display: block;
	z-index: 4;
}
body.admin-bar .search-box-wrapper.style2-header-search-widget .header-search-form-close {
	margin-top: 32px;
}


/************************************************
 Header Cart Control
 ************************************************/

.left-strip-wrapper .header-cart-controls {
	width: 100%;
	text-align: center;
	top: 85%;
}
.header-cart-controls .cart-contents span {
	display: inline-block;
	font-weight: bold;
	margin: 0 auto;
	border-radius: 20%;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 21px;
	font-size: 10px;
	position: relative;
	top: -5px;
}
.left-strip-wrapper .header-cart-controls .cart-contents span {
	display: block;
	position: static;
	margin-top: -60px;
}
.header-cart-controls .cart-contents{
	color: inherit;
}
.header-cart-controls .cart-contents i{
	font-size: 23px;
	position: relative;
}

/************************************************
 Transparent Header
 ************************************************/
 
body.header-transparent #header #header-inner-wrap.no-transparent,
body.sticky-header #header #header-inner-wrap.no-transparent {
	position: fixed;
	top: -300px;
	width: 100%;
	right: 0px;
}
body.header-transparent #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header #header #header-inner-wrap.no-transparent.top-animate {
	top: 0px;
	-webkit-transition: top .50s ease, right 400ms ease;
	-moz-transition: top .50s ease, right 400ms ease;
	-o-transition: top .50s ease, right 400ms ease;
	-ms-transition: top .50s ease, right 400ms ease;
	-webkit-backface-visibility: hidden;
	border-bottom: 1px solid #efefef !important;
	box-shadow: 1px 1px 7px rgba(0,0,0,0.3) !important;
}
body.header-transparent.admin-bar #header #header-inner-wrap.no-transparent.top-animate,
body.sticky-header.admin-bar #header #header-inner-wrap.no-transparent.top-animate {
	top: 32px;
	-webkit-transition: top .50s ease, right 400ms ease;
	-moz-transition: top .50s ease, right 400ms ease;
	-o-transition: top .50s ease, right 400ms ease;
	-ms-transition: top .50s ease, right 400ms ease;
	-webkit-backface-visibility: hidden;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
body.header-transparent #header #header-inner-wrap {
	position: absolute;
	/*top: 0px;*/
	width: 100%;
}
body.header-transparent #header #header-wrap {
    background: transparent;
    box-shadow: none;
    position: relative;
}
body.header-transparent #header #header-bottom-bar {
	background: transparent;
	box-shadow: none;	
}
body #main.layout-border-header-top #header-inner-wrap.no-transparent,
body.admin-bar #main.layout-border-header-top #header-inner-wrap.no-transparent {
	position: fixed;
	backface-visibility: hidden;
}
body #main.layout-border-header-top #header-inner-wrap.no-transparent {
	top: 0px;
}
body.admin-bar #main.layout-border-header-top #header-inner-wrap.no-transparent {
	top: 32px;
}
#header-inner-wrap.transparent {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#header-inner-wrap {
	position: relative;
}
#header-inner-wrap.background--dark.transparent #navigation,
#header-inner-wrap.background--dark.transparent .header-search-controls .search-button,
#header-inner-wrap.background--dark.transparent .header-cart-controls  i.font-icon,
#header-inner-wrap.background--dark.transparent .menu-controls i.font-icon,
#header-inner-wrap.background--dark.transparent .menu-controls {
	color: #f5f5f5;
	transition: color 0.5s linear;
}
#header-inner-wrap.background--light.transparent #navigation,
#header-inner-wrap.background--light.transparent .header-search-controls .search-button,
#header-inner-wrap.background--light.transparent .header-cart-controls  i.font-icon,
#header-inner-wrap.background--light.transparent .menu-controls i.font-icon,
#header-inner-wrap.background--light.transparent .menu-controls  {
	color: #333;
	transition: color 0.5s linear;
}
#header-inner-wrap.background--dark.transparent .sliderbar-menu-controller .menu-icon {
	border-color: #f5f5f5;
	transition: border-color 0.5s linear;
}
#header-inner-wrap.background--light.transparent .sliderbar-menu-controller .menu-icon {
	border-color: #333;
	transition: border-color 0.5s linear;
}
body.header-transparent .logo img,
body .logo img.sticky-logo {
	display: none;
}
body #header-inner-wrap.no-transparent.top-animate .logo img.sticky-logo {
	display: block;
}
body #header-inner-wrap.no-transparent.top-animate .logo img.normal-logo {
	display: none;
}
body.header-transparent #header-inner-wrap.no-transparent.top-animate .logo img.normal-logo,
body.header-transparent #header-inner-wrap.no-transparent.top-animate .logo img.sticky-logo,
body.header-transparent #header-inner-wrap .logo img.transparent-logo {
	display: block;
}
body.header-transparent #header-inner-wrap.no-transparent.top-animate .logo img.transparent-logo,
body.header-transparent #header-inner-wrap.no-transparent.top-animate .logo img.normal-logo {
	display: none;
}
.light-scheme-logo {
	display: none !important;
}
body.header-transparent #header-inner-wrap.background--dark.transparent .logo img.light-scheme-logo {
	display: block !important;
}
body.header-transparent #header-inner-wrap.background--dark.transparent .logo img.dark-scheme-logo {
	display: none !important;
}
/************************************************
 Sticky Header
 ************************************************/
#header {
    position: relative;
    z-index: 10;
}
#header-inner-wrap.top-animate #navigation, 
#header-inner-wrap.top-animate .header-controls, 
#header-inner-wrap.top-animate .social-media-icons-mid-header,
#header-inner-wrap.stuck #navigation, 
#header-inner-wrap.stuck .header-controls, 
#header-inner-wrap.stuck .social-media-icons-mid-header {
    line-height: 70px;
	-webkit-transition: line-height 0.5s ease;
	-moz-transition: line-height 0.5s ease;
	-ms-transition: line-height 0.5s ease;
	-o-transition: line-height 0.5s ease;
	transition: line-height 0.5s ease;
}
/*******************************
 Menu
*******************************/

#navigation a,
#navigation-right-side a,
#navigation-left-side a {
    color: inherit;
    padding: 0px 20px;
}
#navigation ul li,
#navigation-right-side ul li,
#navigation-left-side ul li {
    float: left;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    line-height: inherit;
}
#navigation .sub-menu,
#navigation .children,
#navigation-right-side .sub-menu,
#navigation-right-side .children,
#navigation-left-side .sub-menu,
#navigation-left-side .children {
    position: absolute;
    width: 200px;
    display: none; 
    z-index: 12;
	top: 100%;
	line-height: 32px;
	padding: 10px 0;
	margin-top: 1px;
}
#navigation .sub-menu .sub-menu,
#navigation .children .children,
#navigation-right-side .sub-menu .sub-menu,
#navigation-right-side .children .children,
#navigation-left-side .sub-menu .sub-menu,
#navigation-left-side .children .children {
    left: 100%;
    top: -10px;
    margin-left: 0;
}

#navigation ul .sub-menu li,
#navigation ul .children li,
#navigation-right-side ul .sub-menu li,
#navigation-right-side ul .children li,
#navigation-left-side ul .sub-menu li,
#navigation-left-side ul .children li {
    display: block;
    float: none;
    text-align: left;
}
#navigation ul .sub-menu li a,
#navigation ul .children li a,
#navigation-right-side ul .sub-menu li a,
#navigation-right-side ul .children li a,
#navigation-left-side ul .sub-menu li a,
#navigation-left-side ul .children li a {
    display: block;
    padding: 5px 20px;
}
.menu-controls i.font-icon {
	font-size: 21px;
	/*color: #7e7e7e;*/
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	padding: 0px;
	line-height: normal;
}
.menu-controls i.font-icon:before {
	position: relative;
	top: 2px;
}
.top-overlay-menu #navigation{
	display: none;
}
body.menu-animate-fall #navigation ul li {
	-webkit-transition: -webkit-transform 400ms ease, opacity 400ms ease;
	-moz-transition: -moz-transform 400ms ease, opacity 400ms ease;
	-o-transition: -o-transform 400ms ease, opacity 400ms ease;
	transition: transform 400ms ease, opacity 400ms ease;
	transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-webkit-transform: translateY(-150px);
	-o-transform: translateY(-150px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
body.menu-animate-fall #navigation ul li ul li,
body.menu-animate-fall #navigation ul li.return-position {
	transform: initial !important;
	-ms-transform: initial !important;
	-moz-transform: initial !important;
	-webkit-transform: initial !important;
	-o-transform: initial !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
/************************************************
 Left Header
 ************************************************/
.left-header #header-top-bar,
.left-header #header-wrap,
.left-header #header-bottom-bar,
 #left-header-mobile{
	display: none;
}
.left-header .sliderbar-menu-controller .icon-menu{
	display:none;
}
.left-header.left-sliding #main-wrapper{
	margin-left: 70px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	overflow-x: hidden;
}
.left-header .layout-box-left{
	display: none;
}
.left-header.left-static .layout-box-left{
	display: block;
}
.top-header.top-right-sliding-menu.slider-bar-opened  #main.layout-border{
	padding-right: 0px;
}
.left-header.left-sliding.left-overlay-menu.slider-bar-opened #main-wrapper.hidden-strip #main.layout-border{
	padding-left: 30px;
}
.left-header.left-static #main-wrapper{
	margin-left: 280px;
}
.left-header.left-static.be-themes-layout-layout-border #main-wrapper{
	margin-left: 310px;
}

.left-header .left-strip-wrapper{
	width: 71px;
	position: fixed;
	height: 100%;
	background-color: #000;
	z-index: 12;
}
.left-header #sb-left-strip{
	position: relative;
	height: 100%;
}

.left-header #sb-left-strip .leftside-menu-controller{
	position: absolute;
	bottom: 60px;
	font-size: 30px;	
	width: 100%;
	text-align: center;
}
.left-header #sb-left-strip #logo-strip-bar{
	top: 40px;
	position: absolute;
	width: 100%;
	text-align: center;
}
.sb-slidebar .menu ul {
	list-style: none;
	margin-bottom: 0px;
	display: block;
	padding: 0px;
	margin-top: 0px;
}
.sb-slidebar .menu ul li {
	margin-bottom: 0px;
}
.sb-slidebar .menu ul li {
	display: block;
	position: relative;
}

#slidebar-menu {
	z-index: 100;
}
.sb-slidebar-content .menu {
	margin-bottom: 50px;
	padding: 40px 0;
	text-align: center;
}
.top-overlay-menu .sb-slidebar-content .menu,
.left-overlay-menu .sb-slidebar-content .menu{
	border: none;
}
#slidebar-menu .sub-menu {
	display: none;
}
#slidebar-menu a {
	/*color: inherit !important;*/
	display: inline-block;
	line-height: inherit;
}
.sb-left #slidebar-menu a {
	color: inherit !important;
}
.sb-slidebar .widget_text {
	text-align: center;
	padding: 0px 14px;
	margin-bottom: 10px;
}
#navigation .mobile-sub-menu-controller,
#navigation-left-side .mobile-sub-menu-controller,
#navigation-right-side .mobile-sub-menu-controller {
	display: none;
}
#slidebar-menu .mobile-sub-menu-controller {
	width: 30px;
	top: 0px;
	cursor: pointer;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	color: inherit !important;
}
.overlay-menu-close {
	position: absolute;
	z-index: 15;
	font-size: 30px !important;
	top: 0px;
	right: 25px;
	cursor: pointer;
}
.overlay-menu-close:before {
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
}
.overlay-menu-close:hover:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}
.be-themes-layout-layout-border .overlay-menu-close,
.be-themes-layout-layout-border-header-top .overlay-menu-close {
	right: 45px;
	top: 45px;
}
.sb-slidebar .menu ul:after {
	content: ' ';
	display: block;
	line-height: 50px;
	height: 20px;
	width: 100%;
}
.sb-left .display-table {
    height: 100%;
}
body.be-themes-layout-layout-border .overlay-menu-close.show,
body.be-themes-layout-layout-border-header-top .overlay-menu-close.show {
	right: 40px !important;
}
.sb-slidebar.sb-left .overlay-menu-close,
.sb-slidebar.sb-right .overlay-menu-close {
	display: none !important;
}
body.top-overlay-menu .sb-slidebar.sb-left .overlay-menu-close,
body.top-overlay-menu .sb-slidebar.sb-right .overlay-menu-close,
body.left-overlay-menu .sb-slidebar.sb-left .overlay-menu-close,
body.left-overlay-menu .sb-slidebar.sb-right .overlay-menu-close {
	display: block !important;
}
/************************************************
 Mobile Menu
 ************************************************/
.mobile-menu {
	display: none;
}
#mobile-menu, 
#mobile-menu ul {
	list-style: none;
	margin-bottom: 0px;
	padding: 40px 0px;
	margin-top: 0px;
	text-align: center;
}
#mobile-menu ul.sub-menu {
	padding: 0px 0px 15px 0px;
	display: none;
}
#mobile-menu li {
	margin-bottom: 0px;
	/*line-height: 40px;*/
	position: relative;
}
#mobile-menu a {
	color: inherit;
	padding-right: 5px;
}
#mobile-menu .mobile-sub-menu-controller {
	width: 50px;
	top: 0px;
	cursor: pointer;
	font-size: 17px;
	line-height: 51px;
	text-align: center;
	vertical-align: middle;
}
.mobile-nav-controller-wrap {
	display: none;
	float: right;
}
.mobile-nav-controller-wrap .menu-controls {
	margin-left: 0px;
	margin-right:0px;
}
#logo-sidebar {
	text-align: center;
	margin: 40px 0;
}
.be-themes-layout-layout-border #logo-sidebar{
	margin: 70px 0;
}
/*******************************
		MEGAMENU
*******************************/
#navigation .menu > ul > li.mega {
	position: inherit !important;	
}
#navigation .menu > ul > li.mega > ul.sub-menu {
	width: 1160px;	
	left: 50%;
	margin-left: -580px;
	padding: 20px 0px;
	margin-top: 0px;
}
#navigation .menu > ul > li.mega > ul.sub-menu a {
	padding: 5px 20px 5px 20px;
	-webkit-font-smoothing: antialiased !important;
}
#navigation .menu > ul > li.mega > ul > li {
	display: table-cell !important;
	float: none;
	padding: 0px;
	width: 300px;
	border-right: 1px solid;
}
#navigation .menu > ul > li.mega > ul > li:last-child {
	border-right: none;
}
#navigation .menu > ul > li.mega.columns-3 > ul > li { 
		width: 386px; 
}
#navigation .menu > ul > li.mega.columns-4 > ul > li { 
		width: 290px; 
}
#navigation .menu > ul > li.mega.columns-5 > ul > li { 
		width: 232px; 
}
#navigation .menu > ul > li.mega.columns-2 > ul > li { 
		width: 580px; 
}
#navigation .menu > ul > li.mega > ul > li ul {
	display: block !important;
	width: 100%;
	left: 0px !important;
	top: 0px !important;
	opacity: 1 !important;
	position: relative !important;
	background: none;
	margin-top: -1px;
}
#navigation .menu > ul > li:last-child a {
	padding-right: 0px;
}
#navigation .mega .sub-menu .highlight .sf-with-ul {
/*	font-size: 13px;
	color: #fff;*/
	padding-bottom: 10px !important;
	line-height: 1.5 !important;
} 

body.header-transparent #navigation .sub-menu {
	top: 100%;
}
body.header-transparent #navigation .sub-menu .sub-menu {
	top: 0px;
}

/*******************************
		SIDEBAR MENU
*******************************/
#main {
	position: relative;
}
.sb-slidebar {
	position: fixed;
	width: 280px;
	z-index: 12;
	height: 100%;
	overflow: auto;
}
.be-themes-layout-layout-border-header-top .sb-slidebar {
	z-index: 10 !important;
}
.left-overlay-menu .sb-slidebar,
.top-overlay-menu .sb-slidebar {
	width: 100%;
	z-index: 14;
}
/*Left Static Sidebar*/
.left-header.left-static .sb-slidebar.sb-left {
	left: 0px;
}
.left-header.left-static.be-themes-layout-layout-border .sb-slidebar.sb-left {
	left: 30px;
}
/*Right Sliding Sidebar*/
.sb-slidebar.sb-right {
	right: -280px;
	-webkit-transition: right 400ms ease;
	-moz-transition: right 400ms ease;
	-o-transition: right 400ms ease;
	transition: right 400ms ease;
}
body.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right,
body.be-themes-layout-layout-border .sb-slidebar.sb-right {
	right: -250px;
}
.sb-slidebar.sb-right.opened {
	right: 0px;
}
.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right.opened,
.be-themes-layout-layout-border .sb-slidebar.sb-right.opened {
	right: 30px;
}
body #main {
	-webkit-transition: right 400ms ease;
	-moz-transition: right 400ms ease;
	-o-transition: right 400ms ease;
	transition: right 400ms ease;
	position: relative;
	right: 0px;
}
body.top-header.slider-bar-opened #main,
body.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate {
	right: 280px;
	left: auto;
}
body.be-themes-layout-layout-border-header-top.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate,
body.be-themes-layout-layout-border.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate {
	right: 310px;
}
body.top-header.slider-bar-opened.top-overlay-menu #main {
	right: 0px;
}
/*Left Sliding Sidebar - open*/
.left-header.left-sliding.left-bar-menu .sb-slidebar.sb-left.opened {
	left: 0;
}
/*Left Strip close transform*/
html.csstransforms .left-strip-wrapper {
	-webkit-transition: -webkit-transform 200ms linear;
	-moz-transition: -moz-transform 200ms linear;
	-o-transition: -o-transform 200ms linear;
	transition: transform 200ms linear;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
}
html.csstransforms .left-strip-wrapper.hide {
	-webkit-transform: translatex(-70px);
	-moz-transform: translatex(-70px);
	-ms-transform: translatex(-70px);
	-o-transform: translatex(-70px);
	transform: translatex(-70px);
	-webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
html.no-csstransforms .left-strip-wrapper {
	-webkit-transition: left 200ms linear;
	-moz-transition: left 200ms linear;
	-o-transition: left 200ms linear;
	transition: left 200ms linear;
	left: 0px;
}
html.no-csstransforms .left-strip-wrapper.hide {
	left: -80px;
}
/*Left Sliding and Right Sliding sidebar open transform*/
html.csstransforms .left-header.left-sliding.left-bar-menu .sb-slidebar.sb-left {
	-webkit-transform: translatex(-280px);
	-moz-transform: translatex(-280px);
	-ms-transform: translatex(-280px);
	-o-transform: translatex(-280px);
	transform: translatex(-280px);
	-webkit-transition: -webkit-transform 400ms linear;
	-moz-transition: -moz-transform 400ms linear;
	-o-transition: -o-transform 400ms linear;
	transition: transform 400ms linear;
}
html.csstransforms .left-header.left-sliding.left-bar-menu .sb-slidebar.sb-left.opened {
	-webkit-transform: translatex(0px);
	-moz-transform: translatex(0px);
	-ms-transform: translatex(0px);
	-o-transform: translatex(0px);
	transform: translatex(0px);	
}
html.no-csstransforms .left-header.left-sliding.left-bar-menu .sb-slidebar.sb-left {
	left: -280px;
	-webkit-transition: left 400ms linear;
	-moz-transition: left 400ms linear;
	-o-transition: left 400ms linear;
	transition: left 400ms linear;
}
html.no-csstransforms .left-header.left-sliding.left-bar-menu .sb-slidebar.sb-left.opened {
	left: 0px;
}
/*#Main transform on left Slidebar open */
html.csstransforms .left-header.left-sliding.left-bar-menu #main {
	-webkit-transition: -webkit-transform 300ms linear;
	-moz-transition: -moz-transform 300ms linear;
	-o-transition: -o-transform 300ms linear;
	transition: transform 300ms linear;
	-webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
}
html.csstransforms body.left-header.left-bar-menu.slider-bar-opened #main {
	-webkit-transition: -webkit-transform 300ms linear;
	-moz-transition: -moz-transform 300ms linear;
	-o-transition: -o-transform 300ms linear;
	transition: transform 300ms linear;
	-webkit-transform: translatex(210px);
	-moz-transform: translatex(210px);
	-ms-transform: translatex(210px);
	-o-transform: translatex(210px);
	transform: translatex(210px);
	-webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
html.no-csstransforms .left-header.left-sliding.left-bar-menu #main {
	-webkit-transition: right 300ms linear;
	-moz-transition: right 300ms linear;
	-o-transition: right 300ms linear;
	transition: right 300ms linear;
	-webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
}
html.no-csstransforms body.left-header.left-bar-menu.slider-bar-opened #main {
	-webkit-transition: right 300ms linear;
	-moz-transition: right 300ms linear;
	-o-transition: right 300ms linear;
	transition: right 300ms linear;
	-webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
html.no-csstransforms body.left-header.left-bar-menu.slider-bar-opened #main {
	right: -200px;
}
/*Left and Top overlay Menu - hidden*/
.left-header.left-sliding.left-overlay-menu .sb-slidebar.sb-left,
.top-header.top-overlay-menu .sb-slidebar.sb-right {
	display: none;
}
.top-overlay-menu .sb-slidebar.sb-right {
	right: 0px !important;
}
/*Left and Top overlay Menu - open*/
.left-header.left-sliding.left-overlay-menu .sb-slidebar.sb-left.opened .display-table,
.top-header.top-overlay-menu .sb-slidebar.sb-right.opened .display-table {
	display: table;
	height: 100%;
}
/*Left and Top overlay Menu - open*/
.left-header.left-sliding.left-overlay-menu .sb-slidebar .sb-slidebar-content,
.top-header.top-overlay-menu .sb-slidebar.sb-right .sb-slidebar-content {
	display: table-cell;
	vertical-align: middle;
}
/*No #Main transform on Top Overlay menu open*/
html.csstransforms body.top-header.top-overlay-menu.slider-bar-opened #main {
	-webkit-transform: initial;
	-moz-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
body.left-header.left-sliding.left-overlay-menu.slider-bar-opened #main-wrapper {
	margin-left: 0px;
}
.left-header.left-sliding.left-overlay-menu .sb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
}
html.no-csstransforms .left-header.left-sliding.left-bar-menu .sb-slidebar.sb-left {
	-webkit-transition: left 400ms ease;
	-moz-transition: left 400ms ease;
	-o-transition: left 400ms ease;
	transition: left 400ms ease;
}
html.csstransforms .left-header.left-sliding.left-bar-menu .sb-slidebar.sb-left{
	left: 0px;
}
html.csstransforms .left-header.left-static .sb-slidebar.sb-left {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
/*moved to header.css*/

/* ======================
    Page Title
   ====================== */

.page-title-module-custom {
	padding:30px 0;
}
.header-breadcrumb {
    font-size: 11px;
}
.header-breadcrumb .breadcrumbs a {
	color: inherit;
}
/**************************
	Portfolio Page Title
***************************/

#portfolio-title-nav-wrap{
	padding: 15px 0px;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}
#portfolio-title-nav-wrap{
	position: relative;
}
h6.portfolio-title-nav{
	text-align: center;
	margin-bottom: 0px;
}
#portfolio-title-nav-wrap.style3 h6.portfolio-title-nav{
	text-align: left;
}
#portfolio-title-nav-wrap .portfolio-nav{
	position: absolute;
	right: 30px;
	top: 50%;
	margin: -15px 0px 0px 0px;
	line-height: normal;
	width: 117px;
	padding: 0px;
	text-align: right;
}
#portfolio-title-nav-wrap .be-wrap .portfolio-nav{
	right: 0px;
}
#portfolio-title-nav-wrap .portfolio-nav li{
	display: inline-block;
	padding-right: 15px;
	font-size: 17px;
	line-height: 33px;
}
#portfolio-title-nav-wrap .portfolio-nav li:last-child{
	padding-right: 0px;
}
#portfolio-title-nav-wrap .portfolio-nav a{
	text-decoration: none;
}

#portfolio-title-nav-bottom-wrap {
	position: absolute;
	bottom: 5px;
	right: 44px;
	z-index: 10;
}
#portfolio-title-nav-bottom-wrap ul{
	padding-left: 0px;
}
#portfolio-title-nav-bottom-wrap h6, 
#portfolio-title-nav-bottom-wrap ul {
	float: left;
	margin-bottom: 0px;
}
#portfolio-title-nav-bottom-wrap h6{
	margin-right:6px;
	line-height: 35px;
	padding: 0px 15px;
	/*background-color: #000;*/
}
#portfolio-title-nav-bottom-wrap ul li{
	display: inline;
}
#portfolio-title-nav-bottom-wrap ul li a{
	display: inline-block;
	margin-right:3px;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	margin-bottom: 0px;
	/*background-color: #000;*/
}
#portfolio-title-nav-bottom-wrap h6, 
#portfolio-title-nav-bottom-wrap ul li a, 
.single_portfolio_info_close .font-icon{
  color:  #323232;
}

/* ======================
    Footer
   ====================== */
#footer {
	position: relative;
}
#footer.layout-border {
	position: relative;
}
#footer-wrap{
	padding: 25px 0;
}
#footer-wrap .footer-left-area{
	padding-left: 30px;
}
#footer-wrap .footer-right-area{
	padding-right: 30px;
}
#footer-wrap.be-wrap .footer-left-area{
	padding-left: 0px;
}
#footer-wrap.be-wrap .footer-right-area{
	padding-right: 0px;
}
#footer-wrap .footer-left-area{
	position: absolute;
	top: 50%;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	left: 0; 
}
#footer-wrap .footer-right-area{
	position: absolute;
	top: 50%;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	right: 0; 
}
#footer-wrap .footer-center-area{
	text-align: center;
	height: 20px;
	line-height: 20px;
}
#footer .footer-border{
	display: block;
}
/*Style 2 Footer*/
#footer-wrap.style2 .footer-left-area,
#footer-wrap.style2 .footer-center-area,
#footer-wrap.style2 .footer-right-area{
	position: static;
	float: none;
	display: inline;
}
#footer-wrap.style2 .footer-content-inner-left,
#footer-wrap.style2 .footer-content-inner-right,
#footer-wrap.style2 .footer-content-inner-center{
	margin-top: 0px;
	margin-top: 30px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	height: auto;
	line-height: 30px;
}
#footer-wrap.style2 div:last-child{
	margin-bottom: 30px;
}
#footer-wrap .font-icon{
	margin-bottom: 0px;
	margin-right: 0px;
}
#footer-wrap a{
	margin-right: 10px;
}
#footer-wrap a:last-child{
	margin-right: 0px;	
}
ul#footer-menu{
	display: inline-block;
	margin-bottom: 0px;
}
ul#footer-menu li{
	display: inline;
	list-style: none;
}
ul#footer-menu li a{
	color: inherit;
}
#footer-menu > li:after{
	content: " | ";
} 
#footer-menu > li:last-child:after{
	content: "";
} 
/* ======================
    Blog Layout
   ====================== */
.post-meta {
	float: left;
}
.post-meta a {
	color: inherit !important;
}
.post-title a {
	color: inherit !important;
	display: inline-block;
}
.post-nav {
    font-size: 12px;
}
.post-nav ul li {
    margin-bottom: 0;
}
.post-nav .post-meta-sep {
    margin: 0 7px;
}
.pagination a, .pagination span, .pages_list a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin: 0 16px 0px 0px;
	display: inline-block;
}
.portfolio.full-screen.full-screen-gutter .pagination {
	text-align: center;
}
.pagination a:last-child, .pagination span:last-child {
	margin-right: 0px;
}
.pages_list a { 
	width: auto;
	padding: 0px 10px;
}
embed {
	max-width: 100%;
}
.single-post #content {
    padding-bottom: 50px;
}
.single-page-atts h6 {
	margin-right: 10px;
}
.single-page-atts h6,
.single-page-atts .tagcloud {
	float: left;
}
.single-page-atts .tagcloud a {
	margin-bottom: 20px;
	line-height: 20px;
	padding: 7px 10px;
	color: inherit;
}
.single-page-atts .share-links a {
	line-height: 32px;
	display: block;
	float: left;
	padding: 0px 3px;
	color: inherit;
}
.single-page-att {
	margin-bottom: 30px;
}
.single-post .project_navigation {
    margin-top: 50px;
}
.post-excerpt{
    margin-bottom: 35px;
} 
.hide-excerpt .post-bottom-details {
	display: none;
}
.post-thumb img{
    width: 100% !important;
    height: auto !important;
}
.post-thumb.style-2{
    float: left;
    width: 300px;
    margin-right: 20px;
}
.no-thumb .post-header {
    margin-bottom: 15px;
}
.post-date-wrap {
	width: 52px;
	text-align: center;
	text-transform: uppercase !important;
	padding: 8px;
	border: 2px solid;
	border-color: inherit;
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: inherit !important;
	line-height: inherit !important;
	font-size: 16px !important;
	margin-bottom: 0px !important;
}
.post-title-section-wrap {
	margin-bottom: 30px;
	position: relative;
	min-height: 72px;
}
.style3-blog .post-title-section-wrap {
	margin-bottom: 20px;
}
.post-title-section {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 104px;
}
.blog-separator .separator {
    margin-top: 35px;
	margin-bottom: 0px !important;
	width: 100%;
	display: block;
	height: 3px;
}

hr {
	margin-bottom: 50px;
}
.post-tags {
	margin-bottom: 40px;
}
.article-details,
.blog-post.format-quote .article-details,
.blog-post.format-link .article-details {
	padding: 30px 30px;
}
.element.blog-post {
	width: 100%;
}
.blog-post.format-quote .post-top-details .post-nav,
.blog-post.format-link .post-top-details .post-nav {
	margin-bottom: 20px;
}
.blog-post.format-quote .post-top-details .post-meta.post-comments,
.blog-post.format-link .post-top-details .post-meta.post-comments {
	display: none;
}
.blog-post.format-quote .post-date-wrap,
.blog-post.format-link .post-date-wrap {
	border: none;
	font-size: 75px !important;
	padding: 0px;
	width: 100px;
	text-align: left;
	color: inherit;
}
.style3-blog .blog-post.format-quote .post-date-wrap,
.style3-blog .blog-post.format-link .post-date-wrap {
	font-size: 60px !important;
	width: 60px;
}
.style3-blog .blog-post.format-quote .post-title-section,
.style3-blog .blog-post.format-link .post-title-section {
	padding-left: 70px;
}
.post-custom-meta {
	font-size: 13px;
}
.style1-blog .blog-post.format-quote .element-inner,
.style1-blog .blog-post.format-link .element-inner,
.style2-blog .blog-post.format-quote .element-inner,
.style2-blog .blog-post.format-link .element-inner,
.style2-blog .blog-post .post-content-wrap,
.style5-blog .blog-post.format-quote .element-inner,
.style5-blog .blog-post.format-link .element-inner,
.style6-blog .blog-post.format-quote .element-inner,
.style6-blog .blog-post.format-link .element-inner {
	margin-bottom: 30px;
}
.style1-blog .article-details,
.style5-blog .article-details,
.style6-blog .article-details {
	padding: 30px 0px 0px 0px;
}
.style2-blog .post-nav,
.style3-blog .post-nav,
.style5-blog .post-nav,
.style6-blog .post-nav {
	margin-bottom: 20px !important;
}
.style3-blog .blog-post.element .element-inner {
	background: #fff;
}
.style2-blog .more-link,
.style3-blog .more-link {
	display: none;
}
.style3-blog .fluid-width-video-wrapper,
 .post-thumb p {
	margin-bottom: 0px !important;
}
.style6-blog .special-subtitle.post-date {
	margin-bottom: 10px;
}
.style6-blog .special-subtitle.post-date a {
	color: inherit;
}
.single-post .style6-blog .post-details {
	margin-bottom: 20px;
}
/******************************
    Blog Style2
******************************/
.style2-blog .post-thumb {
	width: 40%;
	margin-right: 5%;
	float: left;
}
.style2-blog .article-details {
	width: 55%;
	float: left;
	padding: 0px;
}
.style2-blog .format-quote .article-details,
.style2-blog .format-link .article-details{
	width: 100%;
}
.single-post .style2-blog .post-thumb,
.single-post .style2-blog .article-details {
	float: none;
	margin-right: 0px;
	width: auto;
}
.single-post .style2-blog .post-thumb {
	margin-bottom: 30px;
}
/******************************
    Blog Style3
******************************/
.style3-blog .blog-separator .separator {
    margin-top:60px;
    margin-bottom: 65px;
}
.blog-post.element {
	margin-bottom: 65px;
}

.style3-blog .format-quote .post-content-wrap, 
.style3-blog .format-link .post-content-wrap {
	margin-bottom: 0;
}
/******************************
    Blog Style4
******************************/
.style4-blog .blog-post {
    background: #fff;
    width: 100%;
}
/******************************
    Audio Post Format
******************************/

.mejs-container, 
.mejs-embed, 
.mejs-embed body,
.mejs-container .mejs-controls {
	background: none !important;
}

.mejs-container .mejs-controls .mejs-time span {
	color: #555 !important;
}
.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #efefef !important;
}
.mejs-controls .mejs-button button {
	background: none !important;
	outline: 0;
	margin: 5px 5px !important;
	height: 20px !important;
	line-height: 20px !important;
	outline: none !important;
}
.mejs-controls .mejs-button button:before {
	outline: none !important;
}
.mejs-controls .mejs-playpause-button.mejs-play button:before {
    content: "\68";
    font-family: 'icomoon' !important;
    font-size: 12px;
    color: #555;
}
.mejs-controls .mejs-playpause-button.mejs-pause button:before {
    content: "\e7f6";
    font-family: 'icomoon' !important;
    font-size: 20px;
    color: #555;   
}
.mejs-controls .mejs-volume-button.mejs-mute button:before {
    content: "\e834";
    font-family: 'icomoon' !important;
    font-size: 14px;
    color: #555;   
}
.mejs-controls .mejs-volume-button.mejs-unmute button:before {
    content: "\e836";
    font-family: 'icomoon' !important;
    font-size: 14px;
    color: #555;   
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #000 !important;
}


/* ======================
    Comments
   ====================== */

.form-submit {
    margin-bottom: 0;
}

.commentlist { 
	list-style: none; 
	padding: 0; 
	margin-bottom: 60px; 
}
.commentlist li.comment { 
	padding: 0; 
	margin-bottom: 0; 
}
article.comment {
	margin-bottom: 50px;
	position: relative;
}
.vcard, .comment-content {
    float: left;
}
.vcard {
    width: 9%;
}
.comment-author-inner {
    display: inline-block;
    text-align: center;
}
.comment-author-inner img {
    height: auto !important;
}
.comment-content{
    width: 80%;
    padding-left: 4%;
}

.children{
    list-style: none;
}
#comments-title{
    margin-bottom: 40px;
}
.comment {
    margin-bottom: 30px;
}

.comment-meta{
    margin-bottom: 10px;
}
.comment_text p{
    margin-bottom: 0;
}
#reply-title {
    margin-bottom: 15px;
}
.comment-meta h6.fn {
	margin-bottom: 0;
}
.comment-meta time {
	font-size: 12px;
}
.comment-edit-reply { 
	padding:0; 
	margin:0;
	position: absolute;
	right: 10px;
	bottom: 2px;
}
.comment-edit-reply li {
	margin-bottom: 0;
}

.comment-edit-reply,.children{ list-style:none !important; }

.reply {
    display:block;
}
.reply,
li.edit-link,
span.edit-link {
    font-size: 11px;
    font-style: italic;
}
.comment a{
    text-decoration: none;
}
.avatar {
    margin-bottom: 10px;
}
.children{ 
	padding-left:10% ;
	margin-bottom: 0; 
}
.children .vcard { 
	width:9%; 
}
.children .comment-content { 
    width: 80%;
    padding-left: 4%;
}
.form-allowed-tags{
    display: none;
}



/* ======================
    Typography
   ====================== */


h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2 {
    margin-bottom: 20px;
}

h3, h4 , h5 {
	margin-bottom: 15px;
}

h6 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 30px;
}

#content ,.post-title ,.breadcrumbs , #page-title{
    -ms-word-wrap: break-word;
    word-break: break-word;   
}

blockquote {
    font-style: italic;
    margin-bottom: 30px;
    position: relative;
    padding-left: 90px;
    min-height: 60px;
}
blockquote p:last-child{
    margin-bottom: 0;
}
blockquote:before {
	content: "\e621";
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 80px;
	z-index: -1;
	color: #dfdfdf;
	line-height: 60px;
}

/*------- Anchor ----------- */


a, a:visited , a:hover{
    text-decoration: none;

}
.sidebar-widgets .widget ul li a {
    color: inherit;
}

/*------- Lists ----------- */


ul,ol{
    padding-left: 15px;
    line-height: inherit;
    margin: 0px 0px 20px;
}
ul{ list-style: disc; }
ol{ list-style: decimal; }
ul li,ol li{
    margin-bottom: 10px;
}
ul ul, ol ol, li ul, li ol {
	margin-top: 10px;
}

dd { margin: 0 0 20px; line-height: inherit; }
dt { line-height: inherit; }
nav ul, nav ol { list-style: none !important; list-style-image: none; margin: 0; padding: 0; }
.widget ul{
    margin-bottom: 0;
}
.widget ul li:last-child{
    margin-bottom: 0 !important;
    padding-bottom: 0;
    border: none;
}



/* ==========================================================
    Tags and classes that come with Wordpress 
   ========================================================== */ 

code, pre { font-family:"Courier New", Courier, monospace; }
cite{ font-weight:bold; }
address {
    display: block;
    line-height:20px;
    margin: 0 0 20px;
}


pre{  display: block; margin: 10px 0; padding: 10px; overflow: auto; }
table{ border-collapse: collapse; margin-bottom:20px; }
tr:nth-of-type(odd){  }
th,td{ border: 1px solid #ddd; padding: 9px 20px; }
th{ text-transform: uppercase; }
caption{ font-size: 11px; font-style: italic; }
sup,
sub {
    height: 0;
    font-size: 10px;
    line-height: 1;
    position: relative;
    top: .5ex;
    vertical-align: baseline;
}
sup { bottom: 1ex; top:auto; }

/* Wordpress default Image Alignment classes */

.wp-caption{
    margin-bottom:20px;
    max-width: 100% !important;
    padding-top: 6px;
    text-align: center;
}
.wp-caption img{ width:auto!important; height:auto!important; max-width:98%;}
.wp-caption img, .wp-caption img a { border: 0 none; margin: 0 !important; padding: 0; }
.wp-caption .wp-caption-text { font-size: 11px; font-style:italic; margin: 0; padding: 4px 4px 5px;  }
img.alignright, .wp-caption.alignright { float: right; margin: 0 0 0px 20px; }
img.alignleft, .wp-caption.alignleft { float: left; margin: 0 20px 0px 0; }
img.aligncenter, .wp-caption.aligncenter { display: block;  margin-right: auto; margin-left: auto; }
img.aligncenter { margin-bottom: 10px; }
a img.alignright { float: right; margin: 7px 0 20px 20px; }
a img.alignleft { float: left; margin: 7px 20px 20px 0; }
a img.aligncenter { display: block;  margin-right: auto; margin-left: auto; }
.gallery-item img{ width:auto !important; height:auto !important;  border:none !important; max-width: 100% !important; }    
.gallery-caption { display: block; font-style: italic; margin-bottom: 0 !important; padding: 0 4px 5px; }

/* WordPress built-in class for handling sticky posts */
.sticky, .bypostauthor { }

/* Images */
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; 
}



/* ======================
    Form
   ====================== */

input[type="text"], input[type="email"], input[type="password"] {
    padding: 0px;
    width: 48%;
    margin-bottom: 30px;
    border: none;
	text-indent: 10px;
	font-size: inherit;
	color: inherit ;
	font: inherit ;
	line-height: 41px;
}
select {
    width: 50%;
    height: 38px;
	padding: 10px;
	display: block;
	position: relative;
	border: 2px solid #eeeeee;
}
select[multiple="multiple"] {
	height: 100px;
}
select[multiple="multiple"] option {
	height: 20px;
	line-height: 20px;
}
textarea{
    padding: 10px 0 0 10px;
    height: 350px;
    width: 98%;
    margin-bottom: 30px;
    font:inherit;
    overflow: auto;
    font-size: inherit;
	color: inherit ;
	font: inherit ;
}  
input[type="submit"], .action-button .be-button,
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    border: none;
    cursor:pointer;
    display: inline-block;
    margin:0px 20px 10px 0;
    text-decoration: none;  
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font-size: 12px;
	line-height: 12px;
	padding: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
} 
.more-link,
.view-project-link {
    display: inline-block;
    border-bottom-width: 3px;
	border-style: solid;
	border-color: inherit;
	color: inherit !important;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.more-link.style2-button,
.view-project-link.style2-button {
	border-color: inherit !important;
	border-width: 2px;
	border-style: solid;
	padding: 5px 15px;
	font-size: 12px;
}
.more-link.style3-button,
.view-project-link.style3-button {
	border: none;
	padding: 5px 15px;
	font-size: 12px;
}
.view-project-link.style2-button,
.view-project-link.style3-button {
	padding: 15px 20px;
}
/* Contact Form 7 Plugin */

.wpcf7-not-valid-tip {
    display: none;
}
span.wpcf7-form-control-wrap {
	position: relative !important;
	display: block !important;
}
input[type="text"].wpcf7-not-valid , input[type="email"].wpcf7-not-valid, input[type="password"].wpcf7-not-valid, textarea.wpcf7-not-valid {
    border: 1px solid #ef8080;
    margin-bottom: 0;
}

/* ======================
    Contact Page
   ====================== */   

/* Contact Form */

.contact_form .column-block{
    margin-bottom: 25px ;
}
.contact_form input[type="text"]{
    width: 48%;
    margin-bottom: 30px !important;
}
.contact_form textarea.txt_area {
    width:95.3%;
    margin-bottom: 30px !important;
}
.contact_form {
    margin-bottom: 60px;
}
.contact_form_module.contact_form input[type="text"] {
	width: 96%;
	line-height: 40px !important;
}
.contact_form_module.style2-input input[type="text"],
.contact_form_module.style2-input textarea {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}
input[type="submit"].largebtn {
	font-size: 15px;
	line-height: 16px;
	padding: 18px 25px;
}
input[type="submit"].mediumbtn {
	font-size: 13px;
	line-height: 14px;
	padding: 15px 20px;
}
input[type="submit"].smallbtn {
	font-size: 11px;
	line-height: 12px;
	padding: 12px 15px;
}
::-webkit-input-placeholder {
   color: inherit !important;
   font: inherit !important;
}
/* Gmap */

.gmap {
    margin-bottom: 60px;
    height: 100%;
}
.gmap img {
	max-width: initial !important;
}

.page-template-contact-php #content {
    padding-bottom: 50px;
}
.submit-fieldset {
    position: relative;
}
.contact_loader,
.subscribe_loader {
    background: url('img/loader.gif') no-repeat top left;
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    display: none;
    top: 15px;
    left: 0;
    margin-left: 100px;
    margin-top: -7px;
}
.contact_loader .font-icon {
	width: 15px;
	height: 15px;
	border-width: 3px;
}

/* =========================================================================
                                    WIDGETS
   ========================================================================= */


/* ======================
    Widget Areas
   ====================== */

.widget{
    margin-bottom: 40px;
}
#bottom-widgets .widget {
	margin-bottom: 40px;
}

.sidebar-widgets .widget:last-child {
    margin-bottom: 0;
}

.widget h6 {
    margin-bottom: 10px;
}

#bottom-widgets {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
}
#bottom-widgets .column-block {
    margin-bottom: 0;
}
#bottom-widgets-wrap .column-block .widget:last-child {
    margin-bottom: 0;
}


/* ===========================
    Recent Posts
   =========================== */

.recent_post_container{
    list-style: none !important;
    padding: 0;
}
.recent_posts {
    margin-bottom: 25px;
}

.recent_post_content a {
    display: block;
    padding: 0;
}

.recent_post_img { 
	margin: 6px 10px 0 0; 
	float: left; 
}
.recent_post_img a {
    display: block;
    position: relative;  
}
.recent_post_img img { 
	display: inline-block; 
}
.recent-post-date {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 5px;
	display: inline-block;
}
.recent-post-title {
    margin-bottom: 10px
}
/* ======================
    Tags 
   ====================== */

.tagcloud:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.tagcloud a {
    padding: 7px 15px;
    display: block;
    float: left;
    margin: 0 15px 15px 0;
    background-clip: padding-box; 
    color: inherit;
	border: 1px solid; 
}


/* ======================
    Search
   ====================== */
.search-submit {
    display: none !important;
}
.search-button{
    margin-left: -30px;
}
.widget .searchform {
	position: relative;
}
.widget .searchform .search-icon {
	position: absolute;
	top: 0px;
	right: 15px;
	line-height: 51px;
}
.s {
    height: 45px;
    border-radius: 3px;
    background: #fff;
    font-size: 11px;
    z-index: 1000000;
	margin-bottom: 0px;
}
.widget .s {
    width: 97% !important;
}
.not-found {
    padding-top:100px;
    padding-bottom: 100px;
    text-align: center;
}
.not-found-search{
    width: 350px;
    margin: 0 auto;
}

/* ======================
    WP Calendar
   ====================== */
#wp-calendar {
    width: 100%;
    background: none;
    border: none;
    border-collapse: separate;
    border-spacing:0;
    line-height: 24px;
    margin-bottom: 0px;
    text-align: center;
}
#wp-calendar caption {
    font-size: 12px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}
#wp-calendar thead {
    font-size: 11px;
    font-weight: 700;
}
#wp-calendar thead  th{
    background: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#wp-calendar tbody,#wp-calendar tfoot  {
    font-size: 11px;
    font-weight: 700;
}
#wp-calendar tbody tr td,#wp-calendar thead tr th,#wp-calendar tfoot tr td{
    background: none;
    border: none;
}
#wp-calendar tbody tr td {
    background: none;
    border: 1px;
}
#wp-calendar tbody tr td.pad {
    background: none;
    border:none;
}
#wp-calendar tfoot tr td{
    background: none;
    padding: 5px 0px 0px;
}
#wp-calendar td,#wp-calendar th {
    padding: 0px;
}
#today a{ color:#fff; }
#wp-calendar tfoot tr #prev{
    text-align: left;
}
#wp-calendar tfoot tr #next {
    text-align: right;
}
#wp-calendar tr a {
    display: block;
}


/* ==================================================
    Categories, Archives, Links, Meta, Menu, Side nav
   ================================================== */

.widget_categories ul, 
.widget_archive ul, 
.widget_links ul,
.widget_meta ul, 
.widget_nav_menu ul, 
.widget_pages ul{
    list-style: none;
    padding-left: 0;
}

.widget_categories ul li, 
.widget_archive ul li, 
.widget_links ul li,
.widget_meta ul li, 
.widget_nav_menu ul li,
.widget_pages ul li
{
    padding-left: 25px;
}

.widget_categories ul li:before, 
.widget_archive ul li:before, 
.widget_links ul li:before,
.widget_meta ul li:before, 
.widget_nav_menu ul li:before,
.widget_pages ul li:before {
  content: '\e732';
  font-family: "icomoon";
  display: inline-block;
  margin-left: -25px; /*same as padding-left set on li*/
  width: 25px; /*same as padding-left set on li*/
  font-size: 14px;
}

/* ======================
   Photostream Widget
   ====================== */
.photostream ul {
    list-style: none;
    padding-left: 0;
}
.photostream ul li {
    margin: 0px 15px 15px 0px;
    float: left;
    width: auto;
}
.photostream ul li.last {
    margin-right: 0px;
}
.photostream ul li a {
    display: block;
    position: relative;
}
.photostream ul li a img {
    display: block;
    width: 70px;
    height: 70px;
}
.photostream_overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.photostream_overlay:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}


/* ======================
   Language Switcher
   ====================== */

#lang_sel a.lang_sel_sel,
#lang_sel a.lang_sel_sel:hover,
#lang_sel :hover > a, #lang_sel ul ul :hover > a,
#lang_sel ul ul a, #lang_sel ul ul a:visited {
	background-color: transparent;
	color: inherit;
}

/* ======================
   Back To Top
   ====================== */

#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	font-size: 17px;
	z-index: 9;
	display: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
}

/* ======================
   SINGLE PAGE
   ====================== */

body.single-page-version .single-page-nav-wrap {
	display: block;
	height: 100%;
	position: fixed;
	bottom: 0px;
	right: 35px;
	top: 0px;
	z-index: 4;
	-webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    -webkit-transform: translateZ(0);
}
body.be-themes-layout-layout-border-header-top.single-page-version .single-page-nav-wrap,
body.be-themes-layout-layout-border.single-page-version .single-page-nav-wrap {
	right: 50px;
}
body.single-page-version.custom-gallery-page .single-page-nav-wrap {
	display: none;
}
body.single-page-version.slider-bar-opened .single-page-nav-wrap {
	display: none;
}
body.single-page-version .single-page-nav-wrap-inner {
	display: table;
	height: 100%;
	max-height: 100%;
}
body.single-page-version .single-page-nav-wrap-inner .sinle-page-nav-links {
	display: table-cell;
	zoom: 1;
	vertical-align: middle;
}
.single-page-nav-link {
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 100%;
	display: block;
	margin: 5px 0px !important;
	border: 2px solid #fff;
	position: relative;
}
.header-hero-section {
	position: relative;
}
.section-navigation {
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;
	z-index: 5;
	color: inherit;
	text-align: center;
	font-size: 30px;
}
.single-page-nav-link span {
	display: block;
	position: absolute;
	right: 50px;
	top: 0px;
	background: #000;
	padding: 4px 20px;
	margin-top: -13px;
	color: #fff;
	white-space: nowrap;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.single-page-nav-link:hover span {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	right: 30px;
}
.single-page-nav-link:hover span:after {
	border-top: 17px solid transparent;
	border-left: 20px solid black;
	border-bottom: 17px solid transparent;
	display: block;
	content: '';
	position: absolute;
	right: -20px;
	top: 0px;
}

	/* =========================================================================
                                    TABLET
   ========================================================================= */

@media only screen and (max-width: 1279px) {
	#navigation .menu > ul > li.mega > ul.sub-menu {
		width: 974px;	
		margin-left: -487px;
	}
}
@media only screen and (max-width: 960px) {
	.left-header #left-header-mobile{
		display: block;
	}
	.left-header .layout-box-left{
		display: block;
	}
	.left-header .left-strip-wrapper,
	.left-header .sb-left{
		display: none;
	}
	.left-header #main-wrapper{
		margin-left: 0px !important;
	}
	#navigation,
	#navigation-left-side,
	#navigation-right-side {
		display: none !important;
	}
	#header-bottom-bar{
		display: none !important;
	}
	.style2 .logo {
		text-align: left;
		margin-left: 30px;
	}
	.style2 #header-controls-left{
		display: none;
	}
	.style3 .logo {
		float: left !important;
		position:static;
		margin-left:30px;
	}
	.style1 #header-controls-right{
		padding-left: 0px;
	}
	#header-inner-wrap.stuck {
		position: relative;
		width: 100%;
		box-shadow: none;
	}
	body.admin-bar #header-inner-wrap.stuck {
		top: 0px !important;
	}
	.sticky-wrapper {
		height: auto !important;
	}
	.header-contact-wrap {
		padding-top: 5px;
	}
	.header-contact-wrap,#header-top-menu {
		line-height: 25px !important;
	}
	.header-contact-wrap .be-wrap div.left, .header-contact-wrap .be-wrap div.right {
		margin-bottom: 5px;
	}
	body.header-transparent #header #header-inner-wrap.no-transparent {
		position: absolute;
		left: auto;
		right: auto;
	}
	body.sticky-header #header #header-inner-wrap.no-transparent {
		position: relative;
		left: auto;
		right: auto;
		top: 0px !important;
	}
	body.header-transparent.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate, 
	body.sticky-header.admin-bar .layout-border.layout-border-header-top #header #header-inner-wrap.no-transparent.top-animate {
		top: 0px !important;
	}
	.mobile-nav-controller-wrap {
		display: block;
	}
	.menu-falling-animate-controller {
		display: none;
	}
	#header-top-bar-right .top-bar-widgets, 
	#header-top-bar-right .header-search-controls,
	#header-top-bar-right .header-cart-controls,
	#header-top-bar-right .menu-controls{
		margin-right: 15px;
	}
	#header-top-bar-left,
	#header-top-bar-right{
		float: none;
		text-align: center;
		width: 100%;
		/*padding: 10px 0px !important;*/
	}
	#header-top-bar-wrap{
		padding: 13px 0px !important;
	}	
	#header-top-bar-wrap #header-top-bar-left{
		padding: 0px 0px 5px 0px !important;
	}
	#header-top-bar-wrap #header-top-bar-right{
		padding: 5px 0px 0px 0px !important;
	}
	#header-top-bar-wrap #header-top-bar-left:last-child{
		padding-bottom: 0px !important;
	}
	#header-top-bar-wrap #header-top-bar-right:first-child{
		padding-top: 0px !important;
	}
	#footer-wrap{
		padding:10px 0;
	}
	#footer.layout-border{
		position: static;
		bottom: auto;
		margin-left: 0px;
		margin-right: 0px; 
	}
	#footer-wrap .footer-left-area,
	#footer-wrap .footer-center-area,
	#footer-wrap .footer-right-area{
		position: static;
		float: left;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		height: auto;
		line-height: 30px;
	}
	.footer-content-inner-left,
	.footer-content-inner-right,
	.footer-content-inner-center{
		margin-top: 10px;
	}
	#main.layout-border,
	#main.layout-border.layout-border-header-top {
		padding: 0px;
	}
	.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right.opened, 
	.be-themes-layout-layout-border .sb-slidebar.sb-right.opened,
	body.be-themes-layout-layout-border-header-top.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate, 
	body.be-themes-layout-layout-border.top-header.slider-bar-opened #main #header #header-inner-wrap.no-transparent.top-animate {
		right: 0px;
	}
	body.be-themes-layout-layout-border-header-top.single-page-version .single-page-nav-wrap,
	body.be-themes-layout-layout-border.single-page-version .single-page-nav-wrap {
		right: 35px;
	}
	body.be-themes-layout-layout-border-header-top .sb-slidebar.sb-right, 
	body.be-themes-layout-layout-border .sb-slidebar.sb-right {
		right: -280px;
	}
}

/* =========================================================================
                                    MOBILE 320
   ========================================================================= */


@media only screen and (max-width: 767px) {
	#header-inner-wrap.stuck {
		position: relative;
		width: 100%;
		box-shadow: none;
	}
	.top-bar-widgets{
		margin-left: 0px;
		margin-right: 15px;
	}
    /*------- Content Formatting Grid Blocks ----------- */
    ul.tabs li  { 
        float: none;
        margin-right: 0px;
        width:100%;
        margin-left: 0px;  
    }
    /*  Comments */
    .children { 
    		padding-left:0% ; 
    }
    .vcard, .children .vcard { 
    	width:25%; margin-right: 0; 
   	}
    .comment-content,.children .comment-content { 
    		width:70%; padding-left: 4%;
    }
    #footer-widgets { 
    		width: 270px; 
    }
    .no-mobile {
        display: none;
    }
    input[type="text"], 
    input[type="email"], 
    input[type="password"] {
        width: 98%;
    }
	.style2-blog .post-thumb,
	.style2-blog .article-details {
		width: 100%;
		float: none;
	}
	.gmap-wrapper {
		height: 250px !important;
	}	
	.portfolio-title-nav h6{
		text-align: left;
		margin-left: 30px;
	}
	#gallery-container-wrap {
		height: auto !important;
		padding: 0px !important;
		margin-bottom: 20px;
	}
	html body #gallery-container {
		float: none !important;
		padding: 0px !important;
	}
	#gallery-container .placeholder img {
		height: auto !important;
		max-width: 100% !important;
		width: 100% !important;
		vertical-align: top !important;
		max-height: initial !important;
	}
	html body #gallery-container .placeholder,
	#gallery-container .placeholder.style1_placehloder {
		display: block;
		width: 100% !important;
		vertical-align: initial !important;
		height: auto !important;
		padding: 20px 20px 0px 20px;
		box-sizing: border-box;
	}
	.placeholder .fluid-width-video-wrapper iframe.gallery {
		position: absolute !important;
		width: 100% !important;
	}
	.placeholder .fluid-width-video-wrapper {
		padding-top: 50% !important;
	}
	.carousel_bar_area,
	.portfolio-title-nav-bottom {
		display: none !important;
	}
	.gallery_content {
		position: relative;
		width: 100%;
		right: 0px;
		box-shadow: none !important;
	}
	.gallery_content,
	.gallery_content * {
		height: auto !important;
		max-height: none !important;
	}
	.gallery_content_area_wrap {
		padding: 20px !important;
	}
	.gallery-info-box-wrap #portfolio-title-nav-bottom-wrap {
		right: 10px;
	}
	.gallery-info-box-wrap #portfolio-title-nav-bottom-wrap {
		right: 10px;
		text-align: center;
		width: 100%;
	}
	.gallery-info-box-wrap #portfolio-title-nav-bottom-wrap ul {
		float: none;
		display: inline-block;
		margin-bottom: 30px;
	}
	.arrow_next, .arrow_prev {
		display: none !important;
	}
	.gallery_content {
		background: transparent !important;
	}
	#portfolio-title-nav-bottom-wrap {
		position: relative !important;
	}
	#gallery-container .placeholder.center img {
		position: relative !important;
		width: 100% !important;
		height: auto !important;
		display: inline-block !important;
		margin: 0px !important;
	}
	.attachment-details-custom-slider {
		left: 20px;
	}
	body.custom-gallery-page.single-portfolio #header-inner-wrap {
		position: relative !important;
	}
}


/* =========================================================================
                                    MOBILE 480
   ========================================================================= */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .vcard, .children .vcard {
        width: 20%;
    }    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.left{
    float:left;
}
.right{
    float:right;
}
.last{
    margin-right: 0 !important;
}
.clear{ clear: both; }

.no-margin{
    margin-bottom: 0;
}

.truncate {
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-list-style{
    list-style: none;
}
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
